body {
  background-image: url("../img/bg-img.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

@media(min-width: #{map-get($breakpoints, medium)}) {

   body {
    background-position: 95% 0;
  }

  .join-us {
    font-size: 1.71rem;
    margin-left: 68px;
    text-transform: uppercase;
    color: map-get($colors, join-text);

    .join-title {
      margin: -17px 0;

      &:first-child {
        margin-top: -5px;
      }
    }

    .count {
      font-weight: 800;
      font-size: 4.28rem;
    }
  }
}
