$colors: (
  primary: #6090c0,
  secondary: #ffa800,
  danger: #ff0000,
  success: #8BC34A,
  btn-text: #fff,
  bg-color: #000,
  input-bg: #e1e5ed,
  input-text: #7c818c,
  form-bg: #002a7e,
  join-text: #a2b4df,
);

$breakpoints: (
  medium: 1024px,
  large: 1440px,
);

$border-radius: 5px;
